html,
body {
  padding: 0px;
  margin: 0px;
}
*{
    overflow-x: hidden;
}
h2{
    overflow: hidden;
}
.image img {
  height: 450px;
  width: 90%;
  margin-bottom: 20px;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text h1 {
  overflow: hidden;
  font-size: 4rem;
  font-weight: 900;
  padding: 0px;
  margin-bottom: 11px;
}

.image p {
  margin: 0px;
  padding: 0px;
}
.image .cover h1{
  font-size: 3rem;
}
.image .cover{
  margin-bottom: 20px;
}

@media (max-width: 710px) {
  *{
    overflow-x:hidden ;
  }
  .image img {
    height: 300px;
    transform: rotate(90deg);
    margin-top: 100px;
    width: 500px;
    margin-bottom: 100px;
  }
  .text {
    margin-top: 40px;
    margin-bottom: 0rem;
  }
  .corsel {
    min-width: 7em;
    height: 300px;
  }
  .part {
    height: 400px;
  }
.video{
    height: 10rem;
}
video{
  margin-top:0px;
  
}
.image .cover{
  margin-bottom:20px;
}
.corsel{
    min-width: 20rem;
}
video{
  min-height: 50rem;

}
}
.inside {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.part {
  display: flex;
  height: 450px;
  width: 37%;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  gap: 20px;
}
.corsel {
  background-color: aquamarine;
  height: 400px;
  min-width: 25rem;
}

.video{
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 90%;
    max-height: 30rem;
}
video{
    width: 105rem;
}

.bottom {
  display: flex;
  height: 280px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.first{
    background-image: url(./Assets/badminton.jpg);
    background-position: center;
    background-size: cover;
}
.second{
    background-image: url(./Assets/basketball.png);
    background-position: center;
    background-size: cover;
}
.third{
    background-image: url(./Assets/cycling.jpg);
    background-position: center;
    background-size: cover;
}
.fourth{
    background-image: url(./Assets/gym.jpg);
    background-position: center;
    background-size: cover;
}
.fifth{
    background-image: url(./Assets/Hiking.jpg);
    background-position: center;
    background-size: cover;
}
.sixth{
    background-image: url(./Assets/rugby.jpg);
    background-position: center;
    background-size: cover;
}
.seventh{
    background-image: url(./Assets/Football.png);
    background-position: center;
    background-size: cover;
}
.eigth{
    background-image: url(./Assets/cricket.png);
    background-position: center;
    background-size: cover;
}
.corsel{
    position: relative;
    border-radius: 10%;
    
}
.corsel button{
    position: absolute;
    top: 300px;
    left: 40px;
     height: 3rem;
     width: 7rem;
}

.corsel { transition: all .4s ease-in-out; }
.corsel:hover { transform: scale(1.08); }
.bright::selection{
  color: yellow;
  background-color: black;
}


